#info a,
#talk a,
#rate a,
#lines a,
#remote a {
    padding: 0 1.5em !important;
}

#volume a,
#previous a,
#backward a,
#play-pause a,
#forward a,
#next a {
    padding: 0 1.2em !important;
}

.page_padding {
    padding-left: 23px;
    padding-right: 23px;
}

#recommendations {
    height: 580px;
}

h2 {
    margin-bottom: 0em !important;
}

.rating {
    padding-top: 0px !important;
}

#titleReco {
    font-family: "Conv_ProximaNova-Semibold", sans-serif !important;
    text-transform: uppercase !important;
    font-size: 1.125em !important;
    color: #232527 !important;
    /*  margin: 0 !important;*/

    margin-top: 1em !important;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer
}
